<div class="contenedor-resistencia">

  <div class="row">

    <div class="col-4">
      <mat-form-field>
        <mat-label>Banda 1</mat-label>
        <mat-select [(ngModel)]="band1">
          <!-- <mat-option value="negro" *ngFor="let bd1 of banda1" [value]="bd1">{{bd1}}</mat-option> -->
          <mat-option value="negro">Negro</mat-option>
          <mat-option value="cafe">Cafe</mat-option>
          <mat-option value="rojo">Rojo</mat-option>
          <mat-option value="naranja">Naranja</mat-option>
          <mat-option value="amarillo">Amarillo</mat-option>
          <mat-option value="verde">Verde</mat-option>
          <mat-option value="azul">Azul</mat-option>
          <mat-option value="violeta">Violeta</mat-option>
          <mat-option value="gris">Gris</mat-option>
          <mat-option value="blanco">Blanco</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field>
        <mat-label>Banda 2</mat-label>
        <mat-select [(ngModel)]="band2">
          <mat-option value="negro">Negro</mat-option>
          <mat-option value="cafe">Cafe</mat-option>
          <mat-option value="rojo">Rojo</mat-option>
          <mat-option value="naranja">Naranja</mat-option>
          <mat-option value="amarillo">Amarillo</mat-option>
          <mat-option value="verde">Verde</mat-option>
          <mat-option value="azul">Azul</mat-option>
          <mat-option value="violeta">Violeta</mat-option>
          <mat-option value="gris">Gris</mat-option>
          <mat-option value="blanco">Blanco</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field>
        <mat-label>Banda 3</mat-label>
        <mat-select [(ngModel)]="band3">
          <mat-option value="negro">Negro</mat-option>
          <mat-option value="cafe">Cafe</mat-option>
          <mat-option value="rojo">Rojo</mat-option>
          <mat-option value="naranja">Naranja</mat-option>
          <mat-option value="amarillo">Amarillo</mat-option>
          <mat-option value="verde">Verde</mat-option>
          <mat-option value="azul">Azul</mat-option>
          <mat-option value="violeta">Violeta</mat-option>
          <mat-option value="gris">Gris</mat-option>
          <mat-option value="blanco">Blanco</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-mb-6">
      <h3>Tolerancia: </h3>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="tole">
        <mat-radio-button value="oro" >Oro</mat-radio-button>
        <mat-radio-button value="plata">Plata</mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="col-4">
      <button class="btn btn-warning" (click)="calcularResistencia()">Calcular resistencia</button>
    </div>

  </div>
  <br>
  <div class="tabla">
    <table class="tablaValor">
      <thead class="titulos-tabla">
        <tr>
          <th>Banda 1</th>
          <th>Banda 2</th>
          <th>Banda 3</th>
          <th>Valor</th>
          <th>Valor min.</th>
          <th>Valor max.</th>
        </tr>
      </thead>
      <tbody class="cuerpo-tabla">
        <tr>
          <td>
            {{band1}}
          </td>
          <td>
            {{band2}}
          </td>
          <td>
            {{band3}}
          </td>
          <td>
            {{resistencia}}
          </td>
          <td>
            {{min}}
          </td>
          <td>
            {{max}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
