<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand display-2" href="#">Practicas Angular IDGS902</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Incio</a>
        <a class="nav-link" routerLink="distanciaPuntos">Puntos</a>
        <a class="nav-link" routerLink="resistencias">Resistencias</a>
        <a class="nav-link" routerLink="cinepolis">Cinepolis</a>
      </div>
    </div>
  </div>
</nav>
